.drawings__wrapper {
  @media print {
    page-break-before: always;
  }
}

.drawings__title {
  @include h2;
  max-width: vw(878);

  @media (max-width: $br1) {
    max-width: 100%;
  }
}

.drawings__desc {
  max-width: vw(729);
  margin-top: vw(40);

  @media (max-width: $br1) {
    margin-top: 20px;
    max-width: 70%;
  }

  @media (max-width: $br3) {
    max-width: 100%;
  }
}

.drawings__img-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  width: 100%;
  column-gap: vw(20);
  row-gap: vw(72);
  margin-top: vw(72);
  user-select: none;

  @media (max-width: $br1) {
    column-gap: 20px;
    row-gap: 60px;
    margin-top: 36px;
  }

  @media (max-width: $br3) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $br4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 20px;
  }
}

.drawings__img-li {
  display: block;
  height: fit-content;
  width: 100%;
}

.drawings__img-desc {
  @include light;
  font-size: vw(16);
  line-height: 100%;
  margin-top: vw(20);

  @media (max-width: $br1) {
    font-size: 16px;
    margin-top: 16px;
  }
}

.drawings__elevation {
  position: relative;
  margin-top: vw(160);

  @media (max-width: $br1) {
    margin-top: 72px;
  }

  @media print {
    page-break-before: always;
  }
}

.drawings__lines-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $br1) {
    display: none;
  }

  @media print {
    display: none;
  }
}

.drawings__line {
  position: absolute;
  background-color: var(--main);

  &:nth-of-type(1) {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 2px;
  }

  &:nth-of-type(2) {
    top: vw(75);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 2px;
    height: 95.7%;
  }
}

.drawings__elevation-list {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  column-gap: vw(130);
  row-gap: vw(152);

  @media (max-width: $br1) {
    column-gap: 60px;
    row-gap: 80px;
  }

  @media (max-width: $br2) {
    column-gap: 32px;
    row-gap: 20px;
  }

  @media (max-width: $br3) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.drawings__elevation-li {
  display: block;
  height: fit-content;

  @media print {
    page-break-before: always;
  }
}

.drawings__elevation-title {
  @include italic;
  font-size: vw(48);
  line-height: 100%;
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(48, 28);
  }

  @media (max-width: $br1) {
    font-size: 28px;
  }
}

.drawings__img {
  display: block;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.drawings__elevation-img {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: vw(28);

  @media (max-width: $br1) {
    margin-top: 16px;
  }
}

.drawings__colors-list {
  display: flex;
  flex-direction: column;
  row-gap: vw(16);
  margin-top: vw(68);

  @media (max-width: $br1) {
    row-gap: 16px;
    margin-top: 42px;
  }
}
