.drawings__wrapper {
  @media print {
    page-break-before: always;
  }
}

.drawings__title {
  @include medium;
  font-size: vw(48);
  line-height: 1em;
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(48, 24);
  }

  @media (max-width: $br4) {
    font-size: 24px;
  }
}

.drawings__line {
  width: 100%;
  height: 2px;
  background-color: var(--main);
  margin-top: vw(20);

  @media (max-width: $br1) {
    margin-top: 16px;
  }
}

.drawings__list {
  display: flex;
  flex-direction: column;
  row-gap: vw(100);
  margin-top: vw(40);

  @media (max-width: $br1) {
    margin-top: 28px;
    row-gap: 65px;
  }
}

.drawings__item {
  @media (max-width: $br1) {
    display: flex;
    flex-direction: column;
  }
}

.drawings__img-wrapper {
  @media (min-width: $br1) {
    @include col(1, 9);
    max-height: vw(650);
  }

  figcaption {
    @include light;
    font-size: vw(16);
    margin-top: vw(13);
    line-height: 1em;

    @media (max-width: $br1) {
      font-size: 16px;
      margin-top: 8px;
    }
  }
}

.drawings__img {
  display: block;
  height: 100%;
  border-radius: vw(20);
  object-fit: contain;

  @media (max-width: $br1) {
    border-radius: 20px;
  }
}

.drawings__legend {
  display: flex;
  flex-direction: column;
  row-gap: vw(16);
  border-radius: vw(20);
  background-color: var(--white);
  padding: vw(20);
  height: fit-content;

  @media (min-width: $br1) {
    @include col(10, 12);
    min-height: vw(254);
  }

  @media (max-width: $br1) {
    row-gap: 16px;
    padding: 16px;
    border-radius: 20px;
    min-height: 160px;
    width: 340px;
    margin-top: 20px;
  }

  @media (max-width: $br4) {
    width: 100%;
  }
}
