.drawings__title {
  @include h2;
  max-width: vw(878);
}

.drawings__desc {
  max-width: vw(729);
  margin-top: vw(40);
}

.drawings__img-list {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  column-gap: vw(20);
  row-gap: vw(72);
  margin-top: vw(72);
}

.drawings__img-desc {
  @include light;
  font-size: vw(16);
  line-height: 100%;
  margin-top: vw(20);
}

.drawings__elevation {
  position: relative;
  margin-top: vw(160);
}

.drawings__lines-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.drawings__line {
  position: absolute;
  background-color: var(--main);

  &:nth-of-type(1) {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 2px;
  }

  &:nth-of-type(2) {
    top: vw(75);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 2px;
    height: 95.7%;
  }
}

.drawings__elevation-list {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  column-gap: vw(130);
  row-gap: vw(152);
}

.drawings__elevation-title {
  @include italic;
  font-size: vw(48);
  line-height: 100%;
  text-transform: uppercase;
}

.drawings__img {
  margin-top: vw(28);
}

.drawings__colors-list {
  display: flex;
  flex-direction: column;
  row-gap: vw(16);
  margin-top: vw(76);
}
