.main__date-wrapper {
  position: absolute;
  right: $g-offset;

  @media (max-width: $br1) {
    position: relative;
    right: unset;
  }
}

.main__date {
  line-height: 1em;
  text-align: right;
  margin-top: vw(20);

  &:first-of-type {
    margin-top: 0 !important;
  }

  @media (max-width: $br1) {
    margin-top: 4px;
  }

  @media (max-width: $br4) {
    font-size: 12px;
    text-align: left;
  }
}

.main__date-text {
  display: inline-block;
  line-height: 100%;
  margin-right: vw(24);

  @media (max-width: $br1) {
    margin-right: 12px;
  }
}

.main__date-number {
  display: inline-block;
  line-height: 100%;
}

.main__text {
  font-size: vw(24);
  line-height: 100%;
  text-transform: uppercase;
  padding-top: vw(32);

  @media (max-width: $br1) {
    font-size: size(24, 16);
    padding-top: 60px;
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

.main__title {
  @include h2;
  margin-top: vw(30);
  max-width: vw(1316);

  @media (max-width: $br1) {
    margin-top: 20px;
    max-width: 80%;
  }

  @media (max-width: $br3) {
    max-width: 90%;
  }

  @media (max-width: $br4) {
    max-width: 100%;
  }
}

.main__desc {
  line-height: 100%;
  margin-top: vw(30);
  max-width: 50%;

  @media (max-width: $br1) {
    margin-top: 20px;
    max-width: 100%;
  }
}

.main__btns-wrapper {
  display: flex;
  align-items: center;
  margin-top: vw(72);
  width: 100%;

  @media (max-width: $br1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 20px;
  }

  @media (max-width: $br2) {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.main__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: vw(24);
  line-height: 100%;
  color: var(--main);
  text-transform: uppercase;
  background-color: var(--bg);
  padding: vw(40) 0;
  width: 25%;
  border: 1px solid var(--main);
  transition: background-color 0.3s ease, color 0.3s ease;

  @media (min-width: $br1) {
    border-right: none;

    &:last-of-type {
      border-right: 1px solid var(--main);
    }
  }

  &:hover {
    background-color: var(--main);
    color: var(--bg);
  }

  @media (max-width: $br1) {
    width: 100%;
    padding: 20px;
    font-size: size(24, 16);
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }
}

.main__model-wrapper {
  margin-top: vw(100);

  @media (max-width: $br1) {
    margin-top: 50px;
  }
}
