// .news__title-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: sticky;
//   top: 60px;
// }

.news__content {
  position: relative;
}

.news__title {
  @include h2;
  text-align: center;
  position: sticky;
  top: vh(80);
  @media (max-width: $br1) {
    top: 60px;
  }
}

.news__cards {
  margin-top: vw(42);

  @media (max-width: $br1) {
    margin-top: 40px;
  }
}
