.specifications-table-wrapper {
  width: fit-content;
  min-width: 100%;

  @media print {
    page-break-before: always;
  }
}

.specifications-table {
  width: 100%;
  text-transform: uppercase;

  @media (max-width: $br1) {
    overflow: hidden;
    min-width: 960px;
  }

  th {
    padding-bottom: vw(20);
    font-weight: 500;
    font-size: vw(36);
    line-height: 100%;
    text-align: left;

    @media (max-width: $br1) {
      font-size: size(36, 20);
      padding-bottom: 16px;
    }

    @media (max-width: $br4) {
      font-size: 20px;
    }
  }

  td {
    padding: vw(20) 0;
    font-size: vw(28);
    line-height: 100%;

    @media (max-width: $br1) {
      padding: 16px 0;
      font-size: size(28, 16);
    }

    @media (max-width: $br4) {
      font-size: 16px;
    }

    &.specifications-table__big-text {
      font-size: vw(32);
      line-height: 100%;

      @media (max-width: $br1) {
        font-size: size(32, 20);
      }

      @media (max-width: $br4) {
        font-size: 20px;
      }
    }
  }

  tr {
    border-bottom: 2px solid var(--main);
  }

  thead {
    tr {
      border-bottom: 4px solid var(--main);
    }
  }

  thead {
    th {
      vertical-align: middle;

      &:nth-of-type(1) {
        padding-right: vw(20);
        width: 25%;

        @media (max-width: $br1) {
          padding-right: 14px;
        }
      }
      &:nth-of-type(2) {
        padding-right: vw(20);
        width: 25%;

        @media (max-width: $br1) {
          padding-right: 100px;
        }
      }
      &:nth-of-type(3) {
        width: 50%;
      }
    }
  }

  tbody {
    td {
      vertical-align: middle;

      &:nth-of-type(1) {
        padding-right: vw(20);
        width: 25%;

        @media (max-width: $br1) {
          padding-right: 14px;
        }
      }
      &:nth-of-type(2) {
        padding-right: vw(20);
        width: 25%;

        @media (max-width: $br1) {
          padding-right: 14px;
        }
      }
      &:nth-of-type(3) {
        width: 50%;
      }
    }
  }

  &--under-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
  }
}

.specifications-table__btn {
  @include reg;
  background-color: var(--main);
  border-radius: 10px;
  font-size: vw(20);
  padding: vw(16) vw(20);
  color: var(--white);
  text-transform: none;
  transition: opacity 0.3s ease;

  @media (max-width: $br1) {
    font-size: size(20, 16);
    padding: 12px 18px;
  }

  @media (max-width: $br4) {
    font-size: 16px;
  }

  &:hover {
    opacity: 0.9;
  }
}
