.app-loader {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10001;

  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $br1) {
    width: size(80, 46);
    height: size(80, 46);
  }
}
